#loading-overlay,
#loading-overlay2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
}

body.flow-method-selected #place_order {
	display: none !important;
}
