#loading-overlay,
#loading-overlay2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
}

body.flow-method-single label[for="payment_method_wc_checkout_com_flow"] {
	display: none !important;
}

.button-container {
	display: flex;
	height: 100%;
}

.wp-style-button {
	border: none;
	padding: 10px 3px;
	margin: 8px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

#flow-container .woocommerce-SavedPaymentMethods {
	margin-left: 1.5em !important;
}
